<!doctype html>
<html ng-app="mktdata">
    <head>
        <title>Random Market Data Visualizer</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
        <script type ="text/javascript" src="dataretriever.js"></script>
        <link rel="stylesheet" href="style.css">


        <!-- BOOTSTRAP IMPORTS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
   
        <!-- PLOTTING IMPORTS -->
        <script data-require="angular.js@1.5.6" data-semver="1.5.6" src="https://code.angularjs.org/1.5.6/angular.min.js"></script>
        <script data-require="chartjs@*" data-semver="2.2.1" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.1/Chart.min.js"></script>
        <script data-require="angular-chart.js@1.1.1" src="https://cdnjs.cloudflare.com/ajax/libs/angular-chart.js/1.1.1/angular-chart.min.js" data-semver="1.1.1"></script>
        <script data-require="ngRoute@*" data-semver="1.3.15" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-route.js"></script>

    </head>


    <body>
        <div ng-controller="ctrl" ng-model-instant>
            <div align="center">
                <h1>Trading Overview</h1>
            </div>
            <br>
            <div ng-if="all_data_retrieved">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="jumbotron">
                           <h3>Historical Price Data</h3>
                            <div id='chart'>
                                <canvas id="line" class="chart chart-line" chart-data="prices"
                                chart-labels="labels" chart-series="series">
                                </canvas>
                            </div>
                            <h3>Historical Volume Data</h3>
                            <div id='chart'>
                                <canvas id="line" class="chart chart-line" chart-data="volumes"
                                chart-labels="labels" chart-series="series">
                                </canvas>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="jumbotron">
                            <h3> Most Recent Trades</h3>
                            {{last_trades.length}} new trades
        
                            <table class="table" ng-model-instant>
                                <tr>
                                    <th>Symbol</th>
                                    <th>Date</th>
                                    <th>Time</th>
                                    <th>Price</th>
                                    <th>Volume</th>
                                </tr>
                                
                                <tr ng-repeat="r in last_trades" ng-model-instant>
                                    <td>{{r.symbol}}</td>
                                    <td>{{r.date}}</td>
                                    <td>{{r.time}}</td>
                                    <td>{{r.price}}</td>
                                    <td>{{r.volume}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </body>
</html>