@import "../node_modules/bootstrap/scss/bootstrap";
$jumbotron-color:  #D4D4E0;
$bgcolor:  #EAEAF3;
.cntr {
    text-align: center;
}

body {
    background-color: $bgcolor;
}

.jumbotron {
    background-color: $jumbotron-color;
}

